<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todo App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="newTodo" placeholder="Add a new todo"></ion-input>
      <ion-button slot="end" size="small" (click)="addTodo()">
        <ion-icon slot="icon-only" [icon]="addOutline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-list>
      @for (todo of todos(); track todo.id) {
        <ion-item>
          <ion-label [ngClass]="{'completed': todo.completed}" (click)="toggleTodo(todo.id)" class="toggle">
            {{ todo.text }}
          </ion-label>
          <ion-button slot="end" size="default" fill="clear" color="danger" (click)="deleteTodo(todo.id)">
            <ion-icon slot="icon-only" [icon]="trashOutline"></ion-icon>
          </ion-button>
        </ion-item>
      }
    </ion-list>
  </div>
</ion-content>